.headerlogo{background-color:#0a1b31;text-align:center;color: white;padding-top:50px;font-size:50px;font-family:"Verdana"}
.emailucc{}
.instaucc{}
.fbucc{}
.locationucc{}
.linkedinucc{}
.footerlogo{background-color:#0a1b31;text-align:center;height:200px;color: white;font-family:"Verdana"}